@media screen and (max-width: 1300px){
    .header {
        padding: 0 22px;
        position: relative;
    }

    .header_logo {
        width: 201px;
    }

    .header_logo img {
        width: 100%;
    }
    
    .header_nav {
        position: absolute;
        flex-direction: column;
        top: 100%;
        width: 100%;
        background-color: #3298f2;
        z-index: 1;
        height: 97vh;
        align-items: center;
        padding-top: 30px;
        row-gap: 20px;
        left: -100%;
        transition: 1000ms;
    }

    .header_nav a {
        color: white;
        font-weight: 500;
        letter-spacing: 5px;
    }

    .header_callbutton {
        display:none;
    }

    .button_mobile {
        display: flex;
    }

    .center-caps, .play_wrap {
        display: none;
    }

    .active.header_nav {
        left: 0;
    }

    .center {
        padding: 50px 10px;
    }

    .group_title {
        display: flex;
        flex-direction: column-reverse;
    }
    .center-text {
        text-align: justify;
    }

    .center-title span {
        color: #ff9638;
    }

    .center-sub-title {
        color: black;
    }
    .center-sub-title span {
        color: #3298f2;
    }

    .center-buttom button {
        width: 100%;
        background-color: #3298f2;
        margin: 0 auto;
        display: block;
    }
    .center-text {
        margin-bottom: 45px;
    }

    .video-box {
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .video {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-button {
        width: 80px;
        height: 80px;
        background-color: #ff9638;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 25px;
    }
}
