* {
    margin: 0;
    padding: 0;
}

.base {
    height: 1000px;

}

.header {
    height: 100px;
    background: skyblue;
}

.hs_me {
    height: 600px;
    display: flex;
    justify-content: flex-start;
}

.hs {
    width: 30%;
}

.mecontent {
    width: 70%;
}

.hero {
    height: 250px;
    background: plum;
}

.sidebar {
    height: 350px;
    background: greenyellow;
}

.main {
   height: 350px;
   background: orange;
}

.extra {
   height: 250px;
   background: slategray;
}

.rr {
    height: 200px;
    display: flex;
    justify-items: flex-start;
}

.ri {
width: 75%;
background: green;
} 

.re {
   width: 25%;
   background:pink;
}

.footer {
    height: 100px;
    background: orangered;
}