@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    padding: 0 100px;
    height: 90px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #3298f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: flex;
    column-gap: 35px;
}

.header_nav a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #292929;
    text-decoration: none;
}

.header_callbutton {
    width: 310px;
}

.header_callbutton button {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    border: 2px solid #3298f2;
    box-sizing: border-box;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    color: #3298f2;
    cursor: pointer;
}

.center {
    padding: 95px 100px 150px 100px; 
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

.center-content {
    width: 650px;
}

.center-sub-title {
    font-weight: 900;
    font-size: 19px;
    line-height: 23px;
    text-transform: uppercase;
    color: #ff9638;
    margin-bottom: 50px;
}

.center-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 60px;
}

.center-title span {
    color: #3298f2;
}

.center-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 125px;

}

.center-text p:last-child {
    font-weight: bold;
    margin-top: 40px;
}

.center-buttom button {
    width: 380px;
    height: 60px;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    color: #292929;
    border-radius: 6px;
    border: none;
    background-color: #ff9638;
    position: relative;
    overflow: hidden;
}

.center-buttom button::before {
    content: "";
    display: block;
    width: 50px;
    height: 100%;
    background-color: pink;
    position: absolute;
    top: 0;
    transform: skewX(-35deg);
    filter: blur(15px);
    left: -100px;
    animation: xxx 1500ms ease-in-out infinite;
}

@keyframes xxx {
    0% {
        left: -100px;
        background-color: pink;
    }
    75% {
        background-color: purple;
    }

    100% {
        left: 110%;
    }
}

.center-caps {
    width: 800px;
}

.okten {
    font-weight: 900;
    font-size: 200px;
    line-height: 245px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(90deg, #3298f2, #ff9638);
    -webkit-background-clip: text;
}

.school {
    font-weight: 900;
    font-size: 170px;
    line-height: 205px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px  #3298f2;
}

.prog {
    font-weight: 900;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #303030;

}

.play_wrap, .play_content, .play {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border:1px solid #ff9638;
}

.play_wrap {
    position: absolute;
    width: 155px;
    height: 155px;
    left: 45%;
    margin-left: -80px;
    bottom: 15%;
    
}

.play_content {
    width: 95px;
    height: 95px;
    animation: shadow 1s infinite;
}

.play {
    width: 80px;
    height: 80px;
    background-color: #c4c4c4;
    color: #ffffff;
    font-size: 25px;
    
}

@keyframes shadow {
    0% {
      box-shadow: 0 0 0 0 rgba(245, 161, 6, 0.911);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(55, 141, 250, 0);
    }
  }
