.box {height: 800px;}
.h-10 {height: 10%;}
.h-20 {height: 20%;}
.h-60 {height: 60%;}
.skyblue {background: skyblue;}   
.orange {background: orange;}
.m1 {background: indianred;}
.m1_2 {background:yellowgreen;}
.m2 {background: orangered;}
.m2_2 {background-color: gray;}
.m3 {background: green;}
.m3_2 {background: pink;}